*
{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
header{
    background-color: rgba(255, 144, 14, 0.10);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 240px;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav>h3{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
nav li{
    list-style: none;
    margin-right: 30px;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px

}
nav a{
    text-decoration: none;
}

.conte1
{
    max-width: 1030px;
    text-align: center;
    margin: 0 auto;
}
.B1
{
    background-color:#FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* width: 150px;
    height: 50px; */
    padding: 20px 25px;
    border-radius: 8px;
    border: 0;
    cursor:pointer;
}
.P1
{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    padding-top: 50px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.P2
{
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 20px;
}
.I1
{

    margin-top: 40px;
    width: 100%;
    
    
}

main
{
    max-width: 1400px;
    margin: 70px auto;
}

.team-container
{
    display: flex;
    align-items: center;
}
.im1
{
    height: 200px;
    width: 200px;
}
.I2
{
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.conte2
{
    padding-right:70px;
    padding-left: 70px;
}
.aa1
{
    font-size: 2.8rem;
    padding-bottom: 20px;
}
.Quick
{
    color: #727272;
    font-weight: 500;
}
.ofour
{
    color: #131313;
    font-weight: 700;
}
.textfeatures
{
    color: #FF900E;
    font-weight: 700;
    
}
.para1
{
    padding-bottom: 20px;
    color: #727272;
    font-weight: 400;
    
}
@media screen and (max-width:576px) {

    nav{
        padding: 5px;
        flex-direction: column;
    }
    nav>ul
    {
        display: block;
    }
    .team-container
    {
        flex-direction: column;
    }
    .I2{
        margin-left: 0px;
        grid-template-columns: 1fr;
    }
    .im1
{
    height: 200px;
    width: 100%;
}
    
}

@media screen and (min-width:576px) and (max-width: 960px) {
    nav{
        padding: 50px;
    }
    .team-container
    {
        flex-direction: column;
    }
    .I2{
        margin-left: 0px;
        grid-template-columns: repeat(2,1fr);
    }
    .im1
    {
        height: 100%;
        width: 100%;
    }
    

}